@{
    Layout = "";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@model HRM.Models.LoginViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin - Bootstrap Admin Template</title>
        <!-- Bootstrap Core CSS -->
        <link href="Content/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="Content/sb-admin.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="Content/plugins/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Login CSS -->
        <link href="~/Content/login.css" rel="stylesheet" />
    </head>
    <body>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, null))
            {
                <p>
                        <label for="login">Email:</label>
                        @Html.EditorFor(model => model.User)
                    </p>
                    <p>
                        <label for="password">Password:</label>
                        @Html.EditorFor(model => model.Password)
                    </p>
                    <p class="login-submit">
                        <button type="submit" class="login-button">Login</button>
                    </p>
                    <p class="forgot-password"><a href="index.html">Forgot your password?</a></p>
            }
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="js/plugins/morris/raphael.min.js"></script>
        <script src="js/plugins/morris/morris.min.js"></script>
        <script src="js/plugins/morris/morris-data.js"></script>

        <script type="text/javascript">
            $(document).ready(function myfunction() {

            });
        </script>
    </body>
</html>
