@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style>
    .none-margin
    {
        margin-left:0px;
    }
</style>
@section Scripts{
    <script src="~/App_Script/Material.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var material = new Material();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-12 col-lg-12 none-margin">
                        <div class="form-horizontal row">
                            <div class="form-group col-md-2">
                                
                                <div class="col-md-12">
                                    <select  class="form-control" id="sel1">
                                        @{
                                            for (int i = 1; i <= 12; i++)
                                            {
                                                <option id="txtFrom" value="@i">Tháng @i</option>
                                            }
                                        }
                                    
                                    
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                               
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="txtTo" value="2016">
                                    <span style="color:red" id="errorYear"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="txtCode" value="p155">
                                </div>
                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-md-2">
                                    <input type="button" id="search" class="btn btn-primary" value="Tìm">
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <div class="col-md-2">
                                    <input type="button" id="viewSum" class="btn btn-success" value="Xem Tổng">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="material" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên vật tư</th>
                <th>Số lượng KG</th>
                <th>Số lượng cái</th>
                <th>Thành tiền thổi</th>
                <th>Thành tiền kiểm</th>
                <th>Thành tiền cắt dán</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="materialModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="title"><label id="materialName" class="control-label"></label></h4>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtSanXuat" class="col-md-4 control-label">Hệ số thổi</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control" id="materialHsThoi">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSanXuat" class="col-md-4 control-label">Hệ số kiểm</label>
                                <div class="col-md-8">
                                    <input type="number"  class="form-control" id="materialHsKiem">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSanXuat" class="col-md-4 control-label">Hệ số cắt dán</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="materialHsCatDan">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtSanXuat" class="col-md-4 control-label">Đơn giá thổi</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="materialDgThoi">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSanXuat" class="col-md-4 control-label">Đơn giá kiểm</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="materialDgKiem">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSanXuat" class="col-md-4 control-label">Đơn giá cắt dán</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="materialDgCatDan">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right" style="margin-right:30px;">
                                <input type="button" id="btnSaveSMaterial" class="btn btn-primary" value="Lưu">
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="smaterial" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th> 
                                    <th>Số lượng KG</th>
                                    <th>Số lượng cái</th>
                                    <th>Thành tiền thổi</th>
                                    <th>Thành tiền kiểm</th>
                                    <th>Thành tiền cắt dán</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdId" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" id="saveDepartment" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="materialModalSumView" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="title"><label id="materialName" class="control-label"></label></h4>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="form-horizontal">
                    

                    <div class="table-responsive">
                        <table id="smaterialSum" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Số lượng KG</th>
                                    <th>Số lượng cái</th>
                                    <th>Thành tiền thổi</th>
                                    <th>Thành tiền kiểm</th>
                                    <th>Thành tiền cắt dán</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" id="saveDataKho" class="btn btn-primary">Lưu</button>
            </div>
            
        </div>
    </div>
</div>
