@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@section Scripts{
    <script src="~/App_Script/Material.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var material = new Material();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tìm kiếm
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="txtCode" class="col-md-4 control-label">Từ ngày</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="txtFrom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCode" class="col-md-4 control-label">Đến ngày</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="txtTo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCode" class="col-md-4 control-label">Mã kho</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="txtCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-4">
                                    <input type="button" id="search" class="btn btn-primary" value="Tìm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="material" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên vật tư</th>
                <th>Số lượng KG</th>
                <th>Số lượng hộp</th>
                <th>Số lượng cái</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="materialModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="title">Vật tư</h4>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="txtCode" class="col-md-4 control-label">Tên vật tư</label>
                        <div class="col-md-4">
                            <label id="materialName"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-md-4 control-label">Số lượng KG</label>
                        <div class="col-md-4">
                            <label class="control-label" id="quanlityKG" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Số lượng hộp</label>
                        <div class="col-md-4">
                            <label class="control-label" id="quanlityBox" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Số lượng cái</label>
                        <div class="col-md-4">
                            <label class="control-label" id="quanlity" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Hệ số thổi</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="hsthoi">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Đơn giá thổi</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="dongiathoi">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Hệ số kiểm</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="hskiem">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Đơn giá kiểm</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="dgkiem">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Hệ số cắt dán</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="hscatdan">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSanXuat" class="col-md-4 control-label">Đơn giá cắt dán</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="dongiacatdan">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdId" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" id="saveDepartment" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

