@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section Scripts{
    <script src="~/App_Script/Coefficient.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}

<input type="button" id="addCoefficient" class="btn btn-primary" value="Thêm mới">
<input type="button" id="deleteMultiCoefficient" class="btn btn-danger" value="Xóa">

<div class="table-responsive">
    <table id="coefficient" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên hệ số</th>
                <th>Hệ số</th>
                <th>Bộ phận</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="positionModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="title">Chức vụ</h4>
            </div>
            <div class="modal-body" style="padding:10px" id="modalCustomer">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="txtCode" class="col-md-4 control-label">Tên hệ số</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-md-4 control-label">Bộ phận</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtDepartment">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-md-4 control-label">Hệ số</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtCoefficient">
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="coefficient" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Từ</th>
                                    <th>Đến</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <input type="button" id="addDetail" class="btn btn-default"/>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdId" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" id="deletePosition" class="btn btn-danger">Xóa</button>
                <button type="button" id="savePosition" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="positionModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="title">Chức vụ</h4>
            </div>
            <div class="modal-body" style="padding:10px" id="modalCustomer">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="txtCode" class="col-md-4 control-label">Tên hệ số</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-md-4 control-label">Bộ phận</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtDepartment">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-md-4 control-label">Hệ số</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtCoefficient">
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="coefficient" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Từ</th>
                                    <th>Đến</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-center">
                                        <input type="button" id="addDetail" class="btn btn-default" />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdId" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" id="deletePosition" class="btn btn-danger">Xóa</button>
                <button type="button" id="savePosition" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
